<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cl_Image:</strong>
  <% if @user.cl_image.present? %>
    <%= cl_image_tag(@user.cl_image.retina.filename, width: 80, height: 80, fetch_format: :auto, crop: :fill) %>
    <p><%= @user.cl_image.retina.url %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
