<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image.retina.url, size: '80x80') %>
  <p><%= @user.image.retina.url %></p>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
